<input type="checkbox" id="cerrar">
        <label for="cerrar" id="btn-cerrar">X</label>
        <div class="modal">
            <div class="contenido">
            <div id="content">
            <div id="empty">
            <div id="question2">Hola mundo </div>
               <%= @Answerfirst.answers %> 
                <h2></h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div id="keypress"></div>        
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <!-- <label id="write-button" class="btn btn-primary"> Tengo 18</label> -->
                <label class=""> Tu edad es</label><a id="viewage" class=""></label>            
                <input id="input-with-keypress" type="text"></input><a href=""> ?</a>

                </div>
<!--Boton de enviar respuesta-->
                </div>
                <br>
               
              <label class="btn btn-primary" id="btn-sendRequest">Enviar resultado</label>
              </div>
            </div>
        </div>
        <main>
            <h1>Responde estas tres preguntas</h1>
            <h1></h1>   
        </main>
