<div class="question"><span>多Que edad tienes?</span></div>
<div class="answer"><span><strong>18</strong></span></div>
<div class="answer"><span><strong>19</strong></span></div>
<div class="answer"><span><strong>20</strong></span></div>

<div class="question"><span>多Que tipo de musica te gusta?</span></div>
<div class="answer"><span><strong>Techno</strong></span></div>
<div class="answer"><span><strong>Rock</strong></span></div>
<div class="answer"><span><strong>Reggae</strong></span></div>

<div class="question"><span>多Como te consideras?</span></div>
<div class="answer"><span><strong>Relajado</strong></span></div>
<div class="answer"><span><strong>Fiestiero</strong></span></div>
<div class="answer"><span><strong>Aventurero</strong></span></div>

<div class="question"><span>多Que es lo que buscas?</span></div>
<div class="answer"><span><strong>Bares</strong></span></div>
<div class="answer"><span><strong>Comida</strong></span></div>
<div class="answer"><span><strong>Actividades Extremas</strong></span></div>
