<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
     ¿Que edad tienes?
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		18<br>
		19<br>
		20<br>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		¿Que tipo de musica te gusta?
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        		
        <div class="radio">
	  	<label><input type="radio" value="">Techo</label>
		</div>	

		<div class="checkbox">
	  	<label><input type="checkbox" value="">Rock</label>
		</div>	

		<div class="checkbox">
	  	<label><input type="checkbox" value="">Reggae</label>
		</div>	
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		¿Como te consideras?        
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       
		<div class="checkbox">
	  	<label><input type="checkbox" value="">Relajado</label>
		</div>	

		<div class="checkbox">
	  	<label><input type="checkbox" value="">Fiestiero</label>
		</div>	

		<div class="checkbox">
	  	<label><input type="checkbox" value="">Aventurero</label>
		</div>	

      </div>
    </div>
</div>
</div>
