    <!-- Page Content -->
    <div class="container">

    <div class="row">

        <div class="col-md-3 col-xs- 2" >
            <center><h2>Estos lugares <strong>"Podrian gustarte"</strong></h2></center>
        </div>
        <br>
        <div class="col-md-9">
            <div class="row">
                <% @sites.each do |site| %>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                            <%= image_tag  site.SRC%>
                            <div class="caption">
                                <h4>
                                    <a class="typeSite" ><%= site.Description%></a>
                                </h4>
                                <p>
                                    <%= site.Name%>
                                </p>
                                <p>
                                    <a  href="extremeActivities"><strong>Actividades Extrema</strong></a>.<br>
                                    <a  href="extremeActivities">Categoria - <strong>Tour</strong></a>.
                                </p>

                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <!-- /.container -->

    
    <!-- /.container -->

    