 

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-xs- 2" >
                <center><h2> <strong>"Restaurantes en Manzanillo"</strong></h2></center>
              
            </div>
            <br>
            </div>

            <div class="col-md-9">
                <div class="row">


                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "restaurant/katana.jpg" %>
                            <div class="caption">

                                <h4><a href="lakatana">La Katana</a></h4>   
                                <p>Disfruta de una deliciosa comida asiática.<p><a  href="restaurant">Categoria - <strong>Comida Asiatica</strong></a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                  


                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                              <%= image_tag "restaurant/huerta.jpg" %>
                            <div class="caption">
                                <h4 class="pull-right">$64.99</h4>
                                <h4><a href="#">La Huerta</a>
                                </h4>
                                <p>Disfruta de unos deliciosos mariscos frescos. </p><a target="_blank" href="">La Huerta - www.laHuerta.com</a>.</p>
                            </div>
                            
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "restaurant/marina.jpg" %>
                            <div class="caption">
                                <h4 class="pull-right">$74.99</h4>
                                <h4><a href="#">Restaurante Bistro Marina</a>
                                </h4>
                                <p>Ven a deleitarte con nuestros cortes finos , ademas de la gran vista a la marina las Hadas. </p><a target="_blank" href="">La Marina - www.marina.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                  

                 
                </div>
            </div>
    </div>
    </div>
    
    <!-- /.container -->

    
    <!-- /.container -->

    