%h1.grey-text.bold.text-center
	Este es tu Perfil

.col-lg-7.col-md-8.col-xs-12.col-sm-10.col-sm-11.no-float.center-block
	%article.card.big-padding
		%header
			%h1.grey-text.bold.text-center
				= link_to "Agregar Negocio", client_new_path 
		%section
