<div class="contentImg">                            
		<%= image_tag  "inicio/inicio.gif" %>
</div>
<div class="parallax-container" style="display:none;">
	<div class="parallax"><%= image_tag  "inicio/surf.jpg" %></div>
	
</div>
	<div class="section white">
	<div class="row container">
	<h2 class="header">Vive una aventura</h2>
	<%= link_to "Explora Manzanillo", {:controller => "questions", :action => "question" }, :type=>"button", :class=>"btn btn-primary btn-lg btn-block"%>
	</div>
	</div>
<div class="parallax-container" style="display:none;">
	<div class="parallax"><%= image_tag  "inicio/tortuga.jpg" %></div>
</div>
