<div class="thumbnail contentImg">                       
	<%= image_tag  "inicio/inicio.gif" %>

</div>
<div class="section white">
	<div class="row container">
	<h2 class="header">Vive una aventura</h2>
	<%= link_to "Explora Manzanillo", {:controller => "questions", :action => "question" }, :type=>"button", :class=>"btn btn-primary btn-lg btn-block"%>
	</div>
</div>