 <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
 <!-- Start: Content-Wrapper-->
      <section id="content_wrapper">
        <!-- Start: Topbar-Dropdown-->

        <!-- Start: Topbar-->
        <!-- Begin: Content-->
        <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <div class="tray-inner">
              <div class="row flex-column-reverse-before-md">
                <div class="col-sm-12">
                  <div class="p30">
                    <!-- dashboard tiles-->
                    <h2 class="ib mn mr20">Totales</h2><span class="fs15 text-shady-lady">Ultima Semana</span>
                    <div class="row text-center mt35">
                      <div class="col-sm-6 col-md-3 br-lg-r">
                        <h2 class="mn fs47 ib pr20 monserrat">597</h2>
                        <div class="reveal-xlg-inline-block text-center text-xlg-left">
                          <p class="fs15 text-shady-lady mb2">Cantidad de<br class="veil reveal-xlg-block"> Estrellas
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3 br-lg-r mt-30 mt-sm-0">
                        <h2 class="mn monserrat fs47 ib pr20">16.6M$</h2>
                        <div class="reveal-xlg-inline-block text-center text-xlg-left">
                          <p class="fs15 text-shady-lady mb2">Total de<br class="veil reveal-xlg-block"> Gananzias
                          </p>
                        </div>
                      </div>
                      <div class="clearfix visible-sm-block"></div>
                      <div class="col-sm-6 col-md-3 br-lg-r mt-30 mt-md-0">
                        <h2 class="mn monserrat fs47 ib pr20">7.5K</h2>
                        <div class="reveal-xlg-inline-block text-center text-xlg-left">
                          <p class="fs15 text-shady-lady mb2">Nuevas<br class="veil reveal-xlg-block"> Ordenes
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <hr class="mt-35">
                </div>
                <div class="col-sm-12">
                  <!-- Admin-panels-->
                  <div class="admin-panels">
                    <!-- dashboard activity-->
                    <div id="p01" class="panel mbn mt-40 mt-md-0">
                      <div class="panel-body pbn">
                        <div class="row">
                          <!-- Chart Column-->
                          <div class="col-md-6">
                            <div id="ecommerce_chart2" style="height: 310px;" class="pt20"></div>
                          </div>
                          <!-- Multi Text Column-->
                          <div class="col-md-6 mt-30 mt-md-0">
                            <div class="pr30 pl40">       
                              <div id="ecommerce_chart1" style="height: 310px;" class="pt20"></div>
                              <div class="row mt10">
                                <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                                  <div class="fs15 text-shady-lady">Gananzias:</div>
                                  <div class="fs23 text-outer-space monserrat">$13.274</div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-12 col-xl-3 text-space-20 mt-md-15 mt-xl-0">
                                  <div class="fs15 text-shady-lady">Ordenes:</div>
                                  <div class="fs23 text-outer-space monserrat">529 479</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt37">
              <div class="row text-center text-sm-left">
                <div class="col-lg-12 admin-grid">
                  <div class="pl30 pr30">
                    <h2 class="mtn">Commentarios de Clientes</h2>
                    <div class="box-sm box-offset-20 mt-30">
                      <div class="box__left"><img src="assets/img/avatars/avatar-01.jpg" class="br4"></div>
                      <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
                        <div class="fs18 ib text-black">Gary Harvey</div>
                        <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
                        <p class="mt7">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                    </div>

                    <div class="box-sm box-offset-20 mt-60 mt-sm-30">
                      <div class="box__left"><img src="assets/img/avatars/avatar-02.jpg" class="br4"></div>
                      <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
                        <div class="fs18 ib text-black">Gerald Carpenter</div>
                        <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
                        <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                    </div>
                    <div class="box-sm box-offset-20 mt-60 mt-sm-30">
                      <div class="box__left"><img src="assets/img/avatars/avatar-03.jpg" class="br4"></div>
                      <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
                        <div class="fs18 ib text-black">Ashley Green</div>
                        <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
                        <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                    </div>
                    <div class="box-sm box-offset-20 mt-60 mt-sm-30">
                      <div class="box__left"><img src="assets/img/avatars/avatar-04.jpg" class="br4"></div>
                      <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
                        <div class="fs18 ib text-black">Doris Adams</div>
                        <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
                        <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                    </div>
                  </div>
                </div>
 
              </div>

            </div>
          </div>

        </section>
        <!-- Begin: Page Footer-->
        <footer id="content-footer" class="affix">
          <div class="row">
            <div class="col-xs-6"><span class="footer-legal"><span id="copyright-year">2016</span> by TemplateMonster</span></div>
            <div class="col-xs-6 text-right"><a href="#content" class="footer-return-top"><span class="fa fa-angle-up"></span></a></div>
          </div>
        </footer>
      </section>  
    </div>
     <script src="plugins/core.min.js"></script>
    <!-- Theme Javascript-->
    <script src="assets/js/utility/utility.js"></script>
    <script src="assets/js/demo/demo.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- Widget Javascript-->
    <script src="assets/js/demo/widgets.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        "use strict";
        // Init Demo JS
        Demo.init();
        // Init Theme Core
        Core.init();
        demoHighCharts.init();
        runVectorMaps();
        $(window).trigger('resize');
        // Init plugins for ".calendar-widget"
        // plugins: FullCalendar
        //
        $('#calendar-widget').fullCalendar({
          header: {
            right: ' prev,next,today,month,agendaWeek,agendaDay'
          },
          editable: true,
          events: [{
            title: 'ALL Day event',
            start: '2016-02-2',
            end: '2016-02-2',
            className: 'fc-event-warning'
          },
            {
              title: 'ALL DAY EVENT',
              start: '2016-03-11',
              end: '2016-03-11',
              className: 'fc-event-warning'
            },
            {
              title: 'Sony Meeting',
              start: '2016-05-2',
              end: '2016-05-2',
              className: 'fc-event-warning'
            },
      
            {
              title: 'Conference',
              start: '2016-05-11',
              end: '2016-05-13',
              className: 'fc-event-info'
            },
      
            {
              title: 'LONG EVENT',
              start: '2016-03-21',
              end: '2016-03-23',
              className: 'fc-event-info'
            }
          ],
          eventRender: function (event, element) {
            // create event tooltip using bootstrap tooltips
            $(element).attr("data-original-title", event.title);
            $(element).tooltip({
              container: 'body',
              delay: {
                "show": 100,
                "hide": 200
              }
            });
            // create a tooltip auto close timer
            $(element).on('show.bs.tooltip', function () {
              var autoClose = setTimeout(function () {
                $('.tooltip').fadeOut();
              }, 3500);
            });
          }
        });
        // Init plugins for ".task-widget"
        // plugins: Custom Functions + jQuery Sortable
        //
        var taskWidget = $('div.task-widget');
        var taskItems = taskWidget.find('li.task-item');
        var currentItems = taskWidget.find('ul.task-current');
        var completedItems = taskWidget.find('ul.task-completed');
        // Init jQuery Sortable on Task Widget
        taskWidget.sortable({
          items: taskItems, // only init sortable on list items (not labels)
          handle: '.task-menu',
          axis: 'y',
          connectWith: ".task-list",
          update: function (event, ui) {
            var Item = ui.item;
            var ParentList = Item.parent();
            // If item is already checked move it to "current items list"
            if (ParentList.hasClass('task-current')) {
              Item.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
            }
            if (ParentList.hasClass('task-completed')) {
              Item.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
            }
          }
        });
        // Custom Functions to handle/assign list filter behavior
        taskItems.on('click', function (e) {
          e.preventDefault();
          var This = $(this);
          var Target = $(e.target);
          if (Target.is('.task-menu') && Target.parents('.task-completed').length) {
            This.remove();
            return;
          }
          if (Target.parents('.task-handle').length) {
            // If item is already checked move it to "current items list"
            if (This.hasClass('item-checked')) {
              This.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
            }
            // Otherwise move it to the "completed items list"
            else {
              This.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
            }
          }
        });
      
        var sparkBars = $('.inlinesparkbars');
      
        var sparkColors = {
          "primary": [bgPrimary, bgPrimaryLr, bgPrimaryDr],
          "info": [bgInfo, bgInfoLr, bgInfoDr],
          "warning": [bgWarning, bgWarningLr, bgWarningDr],
          "success": [bgSuccess, bgSuccessLr, bgSuccessDr],
          "alert": [bgAlert, bgAlertLr, bgAlertDr]
        };
        // Init Sparkbars
        if (sparkBars.length) {
      
          var sparkbarInit = function () {
            $('.inlinesparkbars').each(function (i, e) {
              var This = $(this);
              var Color = sparkColors["primary"];
              var Height = '120';
              This.children().remove();
              // default color is "primary"
              // Color[0] = default shade
              // Color[1] = light shade
              // Color[2] = dark shade
              //alert('hi')
              // User assigned color and height, else default
              var userColor = This.data('spark-color');
              var userHeight = This.data('spark-height');
      
              if (userColor) {
                Color = sparkColors[userColor];
              }
              if (userHeight) {
                Height = userHeight;
              }
              $(e).sparkline('html', {
                type: 'bar',
                barWidth: 5,
                barSpacing: 2,
                height: Height,
                zeroAxis: false,
                barColor: Color[0]
              });
            });
          }
      
          // Refresh Sparklines on Resize
          var refreshSparkbars;
      
          $(window).resize(function (e) {
            clearTimeout(refreshSparkbars);
            refreshSparkbars = setTimeout(sparkbarInit, 500);
          });
      
          sparkbarInit();
        }
      
        var highColors = [bgSystem, bgSuccess, bgWarning, bgPrimary];
        // Chart data
        var seriesData = [{
          name: 'Phones',
          data: [0, 9, 17, 22, 19, 11.5, 5.2, 9, 17, 22, 19, 11.5, 5.2, 9, 17, 22, 19, 11.5, 5.2]
        }];
        var ecomChart = $('#ecommerce_chart1');
        if (ecomChart.length) {
          ecomChart.highcharts({
            chart: {
              type: 'areaspline',
              marginTop: 30,
              backgroundColor: 'transparent',
            },
            credits: {
              enabled: false
            },
            title: {
              text: ''
            },
            yAxis: {
              title: {
                text: ''
              },
              gridLineColor: '#f0f2f6',
              gridLineWidth: 2,
              labels: {
                formatter: function () {
                  return this.value;
                },
                style: {
                  color: '#d1d4da',
                  "textTransform": "uppercase",
                  "fontSize": "12px",
                  "letterSpacing": 0.02
                }
              }
            },
            xAxis: {
              type: 'datetime',
              labels: {
                overflow: 'justify',
                style: {
                  color: '#d1d4da',
                  "textTransform": "uppercase",
                  "fontSize": "10px",
                  "letterSpacing": 0.02
                },
                y: 30
              },
              lineWidth: 0,
              tickWidth: 0,
              formatter: function () {
                return this.value; // clean, unformatted number for year
              }
            },
            tooltip: {
              valueSuffix: ' $'
            },
            plotOptions: {
              areaspline: {
                lineWidth: 1,
                states: {
                  hover: {
                    lineWidth: 1
                  }
                },
                marker: {
                  enabled: false
                },
                pointInterval: 86400000, // one day
                pointStart: Date.UTC(2016, 3, 31, 0, 0, 0)
              }
            },
            series: [{
              name: 'Hestavollane',
              showInLegend: false,
              lineColor: 'rgba(0,0,0,0)',
              fillColor: {
                linearGradient: {
                  x1: 0, y1: 0,
                  x2: 0, y2: 1
                },
                stops: [[0.0, '#5ddcff'],
                  [0.5, '#5ddcff'],
                  [1.0, '#5cbbe3']]
              },
              data: [0, 850, 900, 1200, 1500, 1000, 1300, 1500, 2300, 2500, 2600, 2200, 3000, 3600, 3500, 2500, 2000, 0]
      
            }],
            navigation: {
              menuItemStyle: {
                fontSize: '10px'
              }
            }
          });
      
      
          $('#ecommerce_chart1-new-data').click(function (e) {
            e.preventDefault();
            $('.chart-1').removeClass('active-default')
            $(this).addClass('active-success');
      
            var chart = $('#ecommerce_chart1').highcharts();
            chart.series[0].setData([0, 850, 900, 1200, 1100, 1000, 1200, 1400, 2200, 2300, 2600, 2200, 2700, 3100, 3000, 2400, 2000, 0]);
          });
      
          $('#ecommerce_chart1-new-data-2').click(function (e) {
            e.preventDefault();
            $('.chart-1').removeClass('active-success');
            $(this).addClass('active-default');
      
            var chart = $('#ecommerce_chart1').highcharts();
            chart.series[0].setData([0, 450, 800, 1300, 1600, 1200, 1100, 1500, 2300, 2400, 2500, 2500, 2800, 2300, 2100, 1500, 1300, 300]);
          });
        }
      
        var seriesData2 = [{
          name: 'Phones',
          data: [5.0, 9, 17, 22, 19, 11.5, 5.2, 9.5, 11.3, 15.3, 19.9, 24.6]
        }];
      
        var ecomChart2 = $('#ecommerce_chart2');
        if (ecomChart2.length) {
          ecomChart2.highcharts({
            chart: {
              zoomType: 'x',
              backgroundColor: 'transparent',
            },
            credits: false,
            title: {
              text: ''
            },
            yAxis: {
              title: {
                text: ''
              },
              gridLineColor: '#f0f2f6',
              gridLineWidth: 2,
              labels: {
                formatter: function () {
                  return this.value;
                },
                style: {
                  color: '#d1d4da',
                  "textTransform": "uppercase",
                  "fontSize": "12px",
                  "letterSpacing": 0.02
                }
              }
            },
            xAxis: {
              type: 'datetime',
              categories: ['Jan', 'Feb', 'Mar', 'Apr',
                'May', 'Jun', 'Jul', 'Aug',
                'Sep', 'Oct', 'Nov', 'Dec'
              ],
              tickWidth: 0,
              lineWidth: 0,
              labels: {
                overflow: 'justify',
                style: {
                  color: '#d1d4da',
                  "textTransform": "uppercase",
                  "fontSize": "10px",
                  "letterSpacing": 0.02
                },
                y: 30
              }
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              area: {
                fillColor: {
                  linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                  },
                  stops: [
                    [0, 'rgba(67, 199, 215, .7)'],
                    [0.5, 'rgba(67, 199, 215, .3)'],
                    [1, 'rgba(67, 199, 215, 0)']
                  ]
                },
                marker: {
                  radius: 6,
                  lineWidth: 4,
                  lineColor: '#fff'
                },
                lineWidth: 3,
                threshold: null
              }
            },
      
            series: [{
              type: 'area',
              name: 'Orders',
              data: [0, 1400, 900, 1200, 1500, 1000, 1300, 1500, 2900, 2500, 2600, 2200],
              color: '#43c7d7'
            }]
          });
      
          $('#ecommerce_chart2-new-data').click(function (e) {
            e.preventDefault();
            $('.filter-range').removeClass('bg-whitesmoke');
            $(this).addClass('bg-whitesmoke');
      
            var chart = $('#ecommerce_chart2').highcharts();
            chart.series[0].setData([0, 1400, 900, 1200, 1500, 1000, 1300, 1500, 2900, 2500, 2600, 2200]);
          });
      
          $('#ecommerce_chart2-new-data-2').click(function (e) {
            e.preventDefault();
            $('.filter-range').removeClass('bg-whitesmoke');
            $(this).addClass('bg-whitesmoke');
      
            var chart = $('#ecommerce_chart2').highcharts();
            chart.series[0].setData([1400, 1200, 0, 900, 1500, 1300, 1000, 2900, 1500, 2600, 2500, 2200]);
          });
      
          $('#ecommerce_chart2-new-data-3').click(function (e) {
            e.preventDefault();
            $('.filter-range').removeClass('bg-whitesmoke');
            $(this).addClass('bg-whitesmoke');
      
            var chart = $('#ecommerce_chart2').highcharts();
            chart.series[0].setData([100, 400, 900, 1100, 1500, 1400, 1600, 1100, 2000, 2100, 1600, 2000]);
          });
        }
      
        var ecomChart3 = $('#ecommerce_chart3');
        if (ecomChart3.length) {
          ecomChart3.highcharts({
            chart: {
              zoomType: 'x',
              backgroundColor: 'transparent',
            },
            credits: false,
            title: {
              text: ''
            },
            yAxis: {
              title: {
                text: ''
              },
              gridLineColor: '#f0f2f6',
              gridLineWidth: 0,
              tickWidth: 0,
              lineWidth: 0,
              labels: {
                enabled: false
              }
            },
            xAxis: {
              labels: {
                enabled: false
              },
              tickWidth: 0,
              lineWidth: 0,
              gridLineWidth: 0
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              area: {
                fillColor: {
                  linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                  },
                  stops: [
                    [0, 'rgba(67, 199, 215, .7)'],
                    [0.5, 'rgba(67, 199, 215, .3)'],
                    [1, 'rgba(67, 199, 215, 0)']
                  ]
                },
                marker: {
                  radius: 3,
                  lineWidth: 0,
                  lineColor: '#fff'
                },
                lineWidth: 2,
                threshold: null
              }
            },
      
            series: [{
              type: 'area',
              name: 'Orders',
              data: [0, 1400, 900, 1200, 1500, 1000, 1300, 1500, 2900, 2500, 2600, 2200],
              color: '#43c7d7'
            }]
          });
        }
        // Widget VectorMap
        function runVectorMaps() {
          // Jvector Map Plugin
          var runJvectorMap = function () {
            // Data set
            var mapData = [900, 700, 350, 500];
            // Init Jvector Map
            $('#WidgetMap').vectorMap({
              map: 'world_mill_en',
              backgroundColor: 'transparent',
              series: {
                markers: [{
                  attribute: 'r',
                  scale: [3, 7],
                  values: mapData
                }]
              },
              regionStyle: {
                initial: {
                  fill: '#eaedf1'
                },
                hover: {
                  fill: bgInfo
                }
              },
            });
            // Manual code to alter the Vector map plugin to
            // allow for individual coloring of countries
            var states = ['DE', 'US', 'CA', 'FR', 'HU'];
      
            var colors = [bgInfo, bgInfo, bgInfo, bgInfo, bgInfo];
            var colors2 = [bgInfo, bgInfo, bgInfo, bgInfo, bgInfo];
            $.each(states, function (i, e) {
              $("#WidgetMap path[data-code=" + e + "]").css({
                fill: colors[i]
              });
            });
            $('#WidgetMap').find('.jvectormap-marker')
                    .each(function (i, e) {
                      $(e).css({
                        fill: colors2[i],
                        stroke: colors2[i]
                      });
                    });
          }
          if ($('#WidgetMap').length) {
            runJvectorMap();
          }
        }
      });
    </script>