 <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="../assets/skin/default_skin/css/theme.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->

 <!-- Start: Content-Wrapper-->
      <section id="content_wrapper">
        <!-- Start: Topbar-Dropdown-->

        <!-- Start: Topbar
        <header id="topbar" class="alt">
        </header>-->
        <!-- Begin: Content-->
        <section id="content" class="animated fadeIn">
          <!-- Demo Content: Center Column Text-->
          <div class="ph10">
            <h4></h4>
            <hr class="alt short">
                      <div class="panel">
                <div class="panel-heading br-b"><span class="panel-title">Datos Generales de la Empresa</span></div>
                <div class="panel-body">
                  <form role="form" class="form-horizontal">

                    <div class="form-group">
                      <label for="inputStandard" class="col-lg-3 control-label">Nombre de Empresa</label>
                      <div class="col-lg-8">
                        <div class="bs-component">
                          <input id="nombre" type="text" placeholder="Empresa..." class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputStandard" class="col-lg-3 control-label">Direcci&oacute;n</label>
                      <div class="col-lg-8">
                        <div class="bs-component">
                          <input id="direccion" type="text" placeholder="Empresa..." class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="textArea2" class="col-lg-3 control-label">Descripci&oacute;n Corto</label>
                      <div class="col-lg-8">
                        <div class="bs-component">
                          <textarea id="textArea" rows="3"  placeholder="Descrpci&oacute;n de la empresa..." maxlength="20" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="textArea2" class="col-lg-3 control-label">Descripci&oacute;n Extensa</label>
                      <div class="col-lg-8">
                        <div class="bs-component">
                          <textarea id="textArea2" rows="3" placeholder="Descrpci&oacute;n de la empresa..."  maxlength="500" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <hr class="alt short">

                    <div class="form-group">
                            <label for="inputStandard" class="col-lg-3 control-label">Categorias</label>
                         <div class="col-lg-9">
                            <div class="checkbox-custom fill mb5">
                            <input id="checkboxDefault13" type="checkbox" checked="">
                            <label for="checkboxDefault13">Categoria 1</label>
                            <input id="checkboxDefault14" type="checkbox" checked="">
                            <label for="checkboxDefault14">Categoria 2</label>
                            <input id="checkboxDefault15" type="checkbox" checked="">
                            <label for="checkboxDefault15">Categoria 3</label>
                            <input id="checkboxDefault16" type="checkbox" checked="">
                            <label for="checkboxDefault16">Categoria 4</label>
                            </div>
                        </div>
                    </div>
                    <hr class="alt short">

                    <div class="form-group">
                            <label for="inputStandard" class="col-lg-3 control-label">Tipo de Restaurante o Actividad</label>
                         <div class="col-lg-9">
                            <div class="checkbox-custom fill mb5">
                            <input id="checkboxDefault13" type="checkbox" checked="">
                            <label for="checkboxDefault13">Actividad 1</label>
                            <input id="checkboxDefault14" type="checkbox" checked="">
                            <label for="checkboxDefault14">Actividad 2</label>
                            <input id="checkboxDefault15" type="checkbox" checked="">
                            <label for="checkboxDefault15">Actividad 3</label>
                            <input id="checkboxDefault16" type="checkbox" checked="">
                            <label for="checkboxDefault16">Actividada 4</label>
                            </div>
                        </div>
                    </div>
                    <hr class="alt short">

                    <div class="form-group">
                     <div  class="col-lg-9">
                     </div>
                     <div  class="col-lg-3">
                         <button type="button" class="btn btn-primary">Guardar</button>

                     </div>
                    </div>
                  </form>
                </div>
              </div>

          </div>
        </section>
      </section>  
    <!-- core scripts-->
    <script src="../plugins/core.min.js"></script>
    <!-- Theme Javascript-->
    <script src="../assets/js/utility/utility.js"></script>
    <script src="../assets/js/demo/demo.js"></script>
    <script src="../assets/js/main.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
      });
    </script>