<div class="navbar navbar-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">GoTurista!</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to '¿Tienes un negocio?, Registrate', 'users/sign_up' %></li>
        <li><%= link_to 'Ingresa', 'users/sign_in' %></li></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
      </form>
    </div>
  </div>
</div>