// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
body{
	background: red;
}
.contentImg{

	display: -moz-grid;
	width: 25em;
	height: 25em;
}
.contentFondo{
	display: -moz-grid;
	width: 100%;
	height: 100%;
}

.parallax-container {
  height: "your height here";
}
        
