<!DOCTYPE html>
<html>
<head>
  <title>Goturista10</title>
  <%= stylesheet_link_tag    'company', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>
</header>
<div id="encabezado">
<h1>Mi Perfil</h1>
</div>
</header>
<body>
<%= yield %>
  
</body>
</html>

